html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #ebebeb; 
}
	html{
		margin: 0;
	 	padding: 0;
	 	height: 100%;
	}

.navbar{
	padding-top: 15px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	background-color: #333333 !important;
	position: sticky;
	top: 0;
	z-index: 10;
}

.ireland{
	width: 100%;
	height: 700px;
	background-position: center;
	transition: all linear 1s;
	background-image: url(neal-ireland.jpg);
}

#name{
	position: relative;
	top: 250px;
	left: 50px;
	color: white;
	font-size: 70px;
	font-family: 'Roboto Slab', serif;
}

#scroll{
	position: relative;
	top: 240px;
	left: 50px;
	color: white;
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
}

#puppy{
	margin-top: 100px;
	height: 500px;
	width: auto;
	margin-bottom: 50px;
	border-radius: 10px;
}

#rock{
	margin-top: 100px;
	height: 500px;
	width: auto;
	border-radius: 10px;
	display: flex;
}

p{
	margin-top: 100px;
	width: 450px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 50px;
}

#about-me{
	opacity: 0;
	transition: all linear 1.5s;
}

#bottom{
	background-color: #ebebeb;
	font-family: 'IBM Plex Sans', sans-serif;
}

#final-row{
	background-color: #ebebeb;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	opacity: 0;
	transition: all linear 2.5s;
	font-family: 'IBM Plex Sans', sans-serif;
}

@media only screen and (min-width: 600px) {
	.navbar{
		font-size: 50px;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	#ireland{
		background-position: right bottom;
		height: 800px;
	}

	.about-me{
		display: flex;
		flex-direction: column;
		margin-left: 250px;
		margin-right: 200px;
	}

	p{
		font-size: 30px;
	}

	#final-row{
		display: flex;
		flex-direction: column-reverse;
		margin-left: 250px;
		margin-right: 200px;
	}
}

@media only screen and (min-width: 992px) {
	.navbar{
		font-size: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.about-me{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 200px;
		margin-right: 200px;
	}

	#final-row{
		display: flex;
		flex-direction: row !important;
		justify-content: space-between;
		margin-right: 200px;
		margin-left: 250px;
		margin-bottom: 100px;
	}

	p{
		font-size: 20px;
	}
} 
