	body{
		background-color: #d9d9d9;	
	}

	.navbar{
		padding-top: 15px;
		padding-bottom: 10px;
		position: sticky;
		width: 100%;
		margin-bottom: 10px;
		background-color: black !important;
	}

	#main{
		text-align: center;
		margin-top: 50px;
	}

	#main h1{
		font-family: 'Roboto Slab', serif;
	}

	#main p{
		margin-top: 50px;
		width: 65%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'IBM Plex Sans', sans-serif;
	}

	#projects{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-left: 200px;
		margin-right: 200px;
	}

	.card{
		margin-top: 100PX;
		background-color: #d9d9d9;
		border: none;
		margin-left: 50px;
		margin-right: 50px;
		height: 400px;
		font-family: 'IBM Plex Sans', sans-serif;
	}

	.card-title{
		font-family: 'Roboto Slab', serif;
	}

	.card-img-top{
		height: 200px;
		width: auto;
		border-radius: 15px;
	}

	.btn-primary{
		border: 1px solid #9da4b0;
		background-color: #9da4b0;
	}

	.btn-primary:hover{
		background-color: #8c8c8c;
		border: 1px solid #8c8c8c;
	}

	.btn-info{
		background-color: #707070;
		border: 1px solid #707070;
		color: white;
	}

	.btn-info:hover{
		background-color: #404040;
		border: 1px solid #404040;
		color: white;
	}


@media only screen and (min-width: 600px) {
	.navbar{
		font-size: 50px;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	#projects{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 35%;
		margin-right: 50%;
	}
}

@media only screen and (min-width: 992px) {
		.navbar{
		font-size: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#projects{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-left: 100px;
		margin-right: 100px;
	}
}