	body{
		background-color: #d9d9d9;	
	}

	.navbar{
		padding-top: 15px;
		padding-bottom: 10px;
		position: sticky;
		width: 100%;
		margin-bottom: 10px;
		background-color: black !important;
	}

	#main{
		
	}

	#projects{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-left: 200px;
		margin-right: 200px;
	}

	.card{
		margin-top: 100PX;
		background-color: #d9d9d9;
		border: none;
		margin-left: 50px;
		margin-right: 50px;
		height: 400px;
	}

	.btn{
		position: relative;
		top: 20px;
	}

	.card-img-top{
		height: 200px;
		width: auto;
		border-radius: 15px;
	}

@media only screen and (min-width: 600px) {
	.navbar{
		font-size: 50px;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	#projects{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 35%;
		margin-right: 50%;
	}
}

@media only screen and (min-width: 992px) {
		.navbar{
		font-size: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#projects{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-left: 100px;
		margin-right: 100px;
	}
}